{% extends 'layout.html' %}

{% block title %}
    Listar Cursos
{% endblock  %}

{% block content %}
<h1 class="title">
    {{titulo}} 
</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
        {% for persona in personas %}
            <div class="articulo-item">
                <div class="data">
                    <h2>
                        Nombre: {{persona.nombre}}
                    </h2>
                    <h2>
                        Apellidos: {{persona.apellidos}}
                    </h2>
                    <h2>
                        Sexo:
                        {% if persona.sexo%}
                        <strong>
                            Masculino
                        </strong>
                        {% else %}
                        <strong>
                            Femenino
                        </strong>
                        {% endif %}
                    </h2> 
                <p>
                    {{curso.contenido}}
                    <a href="{% url 'eliminar_persona' id=persona.id %}"  class="btn btn-delete">
                        Eliminar
                    </a>
                </p>
                </div>
             <div class="clearfix"></div>
            </div>
        {% endfor %}
{% endblock %}
 
